body {
    background-color: #fafafa;
}

.container {
    background-color: #fafafa;
    text-align:center;
    font-family: sans-serif;
    position:absolute;
    top:25vw;
    left:50vw;
    transform:translate(-50%, -22vw);
}

.listing {
    padding-top: 2vw;
    width: 70vw;
    height: 20vw;
    margin-top:5vw;
    margin-bottom:5vw;
    background-color: #e8f7fa;
    border-radius: 2vw;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}


h1 {
    font-size: 5vw;
    font-family: sans-serif;
}

.subtitle{
    font-size: 2vw;
    font-family: sans-serif;
}

h2{
    text-align: left;
    padding-left: 2vw;
}

h3
{
    text-align: left;
    padding-left: 2vw;
}

label{
    display:inline-flex;
    width:250px;
    text-align:right;
}

input {
    margin: 10px;
}

img {
    height: 40%;
    width: 40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.button {
    padding:10px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}