.header img {
    float: left;
    height: 40%;
    width: 40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  .header h1 {
    top: 18px;
    left: 10px;
  }

  
.greyRow {
    padding: 5px;
    background-color: rgb(230, 230, 230);
}

.whiteRow {
    padding: 5px;
}

.container {
    border-style:ridge;
    text-align:center;
    font-family: sans-serif;
    position:absolute;
    top:25%;
    left:50%;
    transform:translate(-50%, -30%);
    padding:10px
}

.button {
    padding:5px;
}


.divider{
    width:5px;
    height:auto;
    display:inline-block;
}