.header {
    overflow:hidden;
    align-items: center;
}

h1 {
    font-size: 2vw;
    align-items: center;
}

.header img {
    float: left;
    height: 20%;
    width: 20%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  .header h1 {
    margin-left: 30px;
    float:left;
    width: auto;
    vertical-align: middle;
    align-items: center;
  }

  
.greyRow {
    padding: 5px;
    background-color: rgb(230, 230, 230);
}

.whiteRow {
    padding: 5px;
}

.container {
    border-style:ridge;
    text-align:center;
    font-family: sans-serif;
    position:absolute;
    top:25%;
    left:50%;
    transform:translate(-50%, -30%);
    padding:10px
}

.button {
    padding:5px;
}


.divider{
    width:5px;
    height:auto;
    display:inline-block;
}



